@font-face {
	font-family: 'THICCCBOI';
	src: url("../assets/fonts/THICCCBOI-Regular.woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'THICCCBOI';
	src: url("../assets/fonts/THICCCBOI-Medium.woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'THICCCBOI';
	src: url("../assets/fonts/THICCCBOI-Semibold.woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'THICCCBOI';
	src: url("../assets/fonts/THICCCBOI-Bold.woff2");
	font-weight: 700;
	font-style: normal;
}